* {
    margin: 0;
}

body {
    background-color: #CED6E0;
    font-family: 'Roboto', sans-serif;
}

/*
 *  NAV
 */

nav > .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
}

.logo > img {
    width: 50px;
}

.menu > ul {
    display: flex;
}

.menu > ul > li {
    list-style: none;
    margin: 5px 30px;
    padding: 5px 0;
    color: #2F3542;
    font-size: 20px;
    border-bottom: 2px solid transparent;
}

.menu > ul > li:hover {
    border-color: #2F3542;
    cursor: pointer;
}

.search > i {
    color: #2F3542;
    font-size: 28px;
}


/*
 *  MAIN
 */


.main > .container {
    padding: 0 15%;
}

.brand__title {
    margin: 100px 0 -220px;
}

.brand__title > h1 {
    font-size: 80px;
    color: #2F3542;
    text-transform: uppercase;
}

.brand__title > p {
    font-size: 40px;
    font-weight: 600;
    color: #57606F;
    text-transform: uppercase;
}

.brand__title > span {
    margin-left: 115px;
    color: #747D8C;
}

.car > img {
    width: 100%;
    margin-left: 100px;
}