* {
    margin: 0;
}

body {
    background-color: #CED6E0;
    font-family: 'Roboto', sans-serif;
}

/*
 *  NAV
 */

nav > .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
}

.logo > img {
    width: 50px;
}

.menu > ul {
    display: flex;
}

.menu > ul > li {
    list-style: none;
    margin: 5px 30px;
    padding: 5px 0;
    color: #2F3542;
    font-size: 20px;
    border-bottom: 2px solid transparent;
}

.menu > ul > li:hover {
    border-color: #2F3542;
    cursor: pointer;
}

.search > i {
    color: #2F3542;
    font-size: 28px;
}


/*
 *  MAIN
 */


main > .container {
    padding: 0 15%;
}

.brand__title {
    margin: 100px 0 -220px;
}

.brand__title > h1 {
    font-size: 80px;
    color: #2F3542;
    text-transform: uppercase;
}

.brand__title > p {
    font-size: 40px;
    font-weight: 600;
    color: #57606F;
    text-transform: uppercase;
}

.brand__title > span {
    margin-left: 115px;
    color: #747D8C;
}

.car > img {
    width: 100%;
    margin-left: 100px;
}


/*
 *  FOOTER
 */

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer > .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.social {
    padding-left: 80px;
    display: flex;
    justify-content: space-between;
    flex-grow: .2;
}

.social > i {
    color: #747D8C;
    font-size: 28px;
}

.slide {
    display: flex;
    flex-grow: .4;
    justify-content: flex-end;
}

.slide > button {
    border: none;
    padding: 10px 15px;
    outline-width: 0;
}

.slide > button:first-child {
    margin-right: 50px;
}

.slide > ul {
    display: flex;
    justify-content: space-between;
    padding-left: 0;
    width: 100px;
}

.slide > ul > li {
    width: 10px;
    font-size: 28px;
}

.info {
    display: flex;
    flex-grow: .4;
    justify-content: flex-end;
}

.info > div {
    min-width: 100px;
    padding: 35px 50px 35px 25px;
    background-color: #2F3542;
    color: #FFF;
}

.info > div > p {
    color: #747D8C;
    margin-bottom: 10px;
}

.info > div > span {
    color: #CED6E0;
}

.info > .other {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 25px 30px;
    background-color: #ECCC68;
    color: #2F3542;
}

.info > .other > p {
    color: #2F3542;
}